@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@font-face {
  font-family: "Source Sans Pro";
}
/*HEADER*/
/*PRODUCT*/
/*DETAILS*/
/*TESTIMONIALS*/
/*SLIDER*/
/*PRICE*/
/*BLOCK-FORM*/
/*CONTACT-FORM*/
/*FOOTER*/
html,
body,
header,
.view {
  width: 100%;
}

.header-bg {
  height: 94px;
  background-color: transparent;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}

.navbar-scrolled {
  width: 100%;
  background-color: #14141a;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 992px) {
  .navbar-scrolled {
    background-color: transparent;
    box-shadow: none;
  }
}

.navbar {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 0 0 0;
  transition: all 0.5s;
}
@media only screen and (max-width: 992px) {
  .navbar {
    background-color: #14141a;
  }
}
.navbar .container {
  padding: 15px 0 0 20px;
}
@media only screen and (max-width: 992px) {
  .navbar .container {
    padding: 0 0 0 20px;
  }
}
.navbar .container a {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.navbar .container p {
  margin: -30px 0 0 75px;
  font-size: 9px;
  white-space: pre;
  color: #3a3b40;
}
.navbar .collapse {
  padding: 40px 20px 20px 10px;
}
@media only screen and (max-width: 992px) {
  .navbar .collapse {
    padding: 0 20px 20px 10px;
  }
}
.navbar .collapse .nav-item {
  padding: 0 0 10px 0;
}
.navbar .collapse .nav-item a {
  font-size: 16px;
  margin: 0 0 0 25px;
  padding: 0 0 10px 0;
  font-weight: 600;
  color: white;
}
.navbar .collapse .nav-item a:hover {
  background-image: url("../images/prostok_t_2_kopia_868.png");
  background-position: bottom;
  background-repeat: repeat-x;
  text-decoration: none;
}

.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: -5px 0 0 0;
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: white;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: 0;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}

.intro-2 {
  height: 100%;
  width: 100%;
  background-image: url("../images/bg_806.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.intro-2 .container {
  max-width: 1170px;
  padding: 160px 0 0 0;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .intro-2 .container {
    padding: 100px 0 0 0;
  }
}
@media only screen and (max-width: 325px) {
  .intro-2 .container {
    padding: 60px 0 0 0;
  }
}
.intro-2 .container h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #008ed6;
  margin: 0 0 0 0;
}
.intro-2 .container h1 {
  font-size: 48px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: white;
  padding: 30px 0 0 0;
  margin: 0 0 0 0;
}
.intro-2 .container p {
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #999999;
  padding: 30px 0 0 0;
  margin: 0 0 0 0;
}
.intro-2 .container a {
  width: 160px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  color: white;
}
.intro-2 .container a:hover {
  background-color: #008ed6;
}
.intro-2 .container .btn-primary {
  margin: 60px 20px 0 0;
  padding: 15px 0 15px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 394px) {
  .intro-2 .container .btn-primary {
    margin: 15px 20px 0 0;
  }
}
.intro-2 .container .a {
  margin: 60px 0 0 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 394px) {
  .intro-2 .container .a {
    margin: 10px 0px 0 0;
  }
}
.intro-2 .img-fluid {
  margin: -65px 0 0 77px;
}
@media (max-width: 1160px) {
  .intro-2 .img-fluid {
    margin: -470px 0 0 510px;
  }
}
@media (max-width: 991px) {
  .intro-2 .img-fluid {
    margin: 0 0 0 0;
  }
}
@media (max-width: 374px) {
  .intro-2 .img-fluid {
    width: 40%;
    margin: -110px 0 0 190px;
  }
}

main {
  flex: 1 1 auto;
  /*HEADER*/
  /*PRODUCT*/
  /*DETAILS*/
  /*TESTIMONIALS*/
  /*SLIDER*/
  /*PRICE*/
  /*BLOCK-FORM*/
  /*CONTACT-FORM*/
  /*FOOTER*/
  /*HEADER*/
  /*PRODUCT*/
  /*DETAILS*/
  /*TESTIMONIALS*/
  /*SLIDER*/
  /*PRICE*/
  /*BLOCK-FORM*/
  /*CONTACT-FORM*/
  /*FOOTER*/
  /*HEADER*/
  /*PRODUCT*/
  /*DETAILS*/
  /*TESTIMONIALS*/
  /*SLIDER*/
  /*PRICE*/
  /*BLOCK-FORM*/
  /*CONTACT-FORM*/
  /*FOOTER*/
  /*HEADER*/
  /*PRODUCT*/
  /*DETAILS*/
  /*TESTIMONIALS*/
  /*SLIDER*/
  /*PRICE*/
  /*BLOCK-FORM*/
  /*CONTACT-FORM*/
  /*FOOTER*/
  /*HEADER*/
  /*PRODUCT*/
  /*DETAILS*/
  /*TESTIMONIALS*/
  /*SLIDER*/
  /*PRICE*/
  /*BLOCK-FORM*/
  /*CONTACT-FORM*/
  /*FOOTER*/
  /*HEADER*/
  /*PRODUCT*/
  /*DETAILS*/
  /*TESTIMONIALS*/
  /*SLIDER*/
  /*PRICE*/
  /*BLOCK-FORM*/
  /*CONTACT-FORM*/
  /*FOOTER*/
}
main .product {
  background-color: white;
}
main .product_content {
  max-width: 1170px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}
main .product hr {
  width: 100%;
  margin: 70px 0 0 0;
}
main .content_title h4 {
  padding: 65px 0 0 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #008ed6;
}
main .content_title h1 {
  font-size: 36px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
}
main .content_title img {
  padding: 30px 0 0 0;
}
main .content_products {
  display: flex;
  margin: 70px 0 0 0;
  align-items: center;
  justify-content: center;
}
main .content_block-1 {
  align-items: center;
  justify-content: center;
}
main .content_block-1 img {
  margin: 0 -15px 0 -50px;
}
main .content_block-1 h1 {
  padding: 30px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  color: #1a1a1a;
}
main .content_block-1 p {
  font-size: 18px;
  color: #999999;
}
main .content_block-2 img {
  margin: 0 -15px 0 -50px;
}
main .content_block-2 h1 {
  padding: 30px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  color: #1a1a1a;
}
main .content_block-2 p {
  font-size: 18px;
  color: #999999;
}
main .content_block-3 img {
  margin: 0 -15px 0 -50px;
}
main .content_block-3 h1 {
  padding: 30px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  color: #1a1a1a;
}
main .content_block-3 p {
  font-size: 18px;
  color: #999999;
}
main .content_block-4 img {
  margin: 0 -13px 0 -45px;
}
main .content_block-4 h1 {
  padding: 30px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  color: #1a1a1a;
}
main .content_block-4 p {
  font-size: 18px;
  color: #999999;
}
main .block {
  background: white;
  width: 100%;
  height: 100%;
}
main .block_content {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
main .block_content img {
  margin: 65px 0 0 0;
}
main .content_text {
  width: 470px;
  margin: 120px 0 0 0;
  padding: 0 20px 0 20px;
}
@media (max-width: 325px) {
  main .content_text {
    margin: 40px 0 0 0;
  }
}
main .content_text h4 {
  font-size: 14px;
  margin: 0 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #008ed6;
}
main .content_text img {
  margin: 35px 0 35px 0;
}
main .content_text h1 {
  padding: 25px 0 0 0;
  margin: 0 0 0 0;
  font-size: 36px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
}
main .content_text p {
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #999999;
  margin: 0 0 40px 0;
}
main .content_text h3 {
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  font-size: 17px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
}
main .content_text h3 img {
  margin: 0 10px 0 0;
}
main .blocks {
  background: #f2f2f2;
  width: 100%;
  height: 100%;
}
main .blocks_cont {
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
main .blocks_text {
  padding: 0 20px 0 20px;
}
main .blocks_text h4 {
  font-size: 14px;
  margin: 0 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #008ed6;
}
@media (max-width: 992px) {
  main .blocks_text h4 {
    padding: 100px 0 0 0;
  }
}
main .blocks_text h1 {
  padding: 25px 0 0 0;
  margin: 0 0 0 0;
  font-size: 36px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
}
main .blocks_text img {
  margin: 35px 0 30px 0;
}
main .blocks_text p {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #999999;
  margin: 0 0 40px 0;
}
main .blocks .img-fluid {
  padding: 30px 0 0 0;
}
main .slide {
  background: url("../images/prostok_t_4_1101.png") center center no-repeat;
  background-size: cover;
  height: 640px;
  text-align: center;
}
@media (max-width: 600px) {
  main .slide {
    height: 800px;
  }
}
@media (max-width: 380px) {
  main .slide {
    height: 890px;
  }
}
main .slide h5 {
  padding: 65px 0 0 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #008ed6;
}
main .slide h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #ffffff;
}
main .slide img {
  margin: 30px 0 90px 0;
}
main .slide .carousel-inner {
  max-width: 1170px;
  margin: 0 auto;
  text-align: left;
}
main .slide .carousel-inner .carousel-item {
  padding: 0 20px 0 20px;
}
main .slide .carousel-inner .content-1 {
  padding: 0 15px 30px 15px;
}
main .slide .carousel-inner p {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 330px) {
  main .slide .carousel-inner p {
    font-size: 16px;
  }
}
main .slide .carousel-inner .media p {
  font-size: 16px;
  margin: 0 0 0 0;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 330px) {
  main .slide .carousel-inner .media p {
    font-size: 12px;
  }
}
main .slide .carousel-inner .media img {
  margin: 0 0 0 0;
}
@media (max-width: 330px) {
  main .slide .carousel-inner .media img {
    width: 50px;
  }
}
main .after-slider {
  width: 100%;
  height: auto;
  background-color: #15141a;
}
main .after-slider .content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 65px 0 65px 0;
}
main .after-slider .content .text {
  display: flex;
  flex-direction: row;
}
main .after-slider .content .text h1 {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
}
main .after-slider .content .text h5 {
  padding: 0 0 0 5px;
  font-weight: 100;
  color: #ffffff;
  font-size: 34px;
}
main .after-slider .content .button {
  padding: 0 0 0 40px;
}
@media (max-width: 600px) {
  main .after-slider .content .button {
    padding: 0 0 0 0;
  }
}
main .after-slider .content .button a {
  width: 160px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  color: white;
}
main .after-slider .content .button a:hover {
  background-color: #008ed6;
}
main .after-slider .content .button .btn-primary {
  margin: 0px 0 0 0;
  padding: 14px 0 16px 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 325px) {
  main .after-slider .content .button .btn-primary {
    margin: 40px 0 20px 20px;
  }
}
main .after-slider .content .button .btn-secondary {
  margin: 0px 0 0 20px;
  padding: 14px 0 16px 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 1154px) {
  main .after-slider .content .button .btn-secondary {
    margin: 0 0 0 0;
  }
}
@media (max-width: 1024px) {
  main .after-slider .content .button .btn-secondary {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 991px) {
  main .after-slider .content .button .btn-secondary {
    margin: 0 0 0 20px;
  }
}
main .price_block h5 {
  padding: 60px 0 0 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #008ed6;
}
main .price_block h2 {
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
}
main .price_block img {
  margin: 30px 0 70px 0;
}
main .price_block .content {
  margin: 0 auto;
  max-width: 1170px;
  margin-bottom: 60px;
}
main .price_block .content h5 {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #1a1a1a;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
main .price_block .content ul li {
  padding: 45px 0 35px 0;
}
main .price_block .content ul li .pos-0 {
  margin: 0 50px -50px 0;
}
main .price_block .content ul li h1 {
  font-size: 24px;
  font-weight: 600;
  color: #1a1a1a;
  margin: 0px 80px -50px 0;
  padding: 0 0 0 0;
}
main .price_block .content ul li p {
  font-size: 60px;
  color: #1a1a1a;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
main .price_block .content ul li h6 {
  font-size: 18px;
  font-weight: 400;
  color: #999999;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
main .price_block .content p {
  padding: 50px 15px 45px 15px;
  margin: 0 0 0 0;
  font-size: 19px;
  font-weight: 400;
  color: #999999;
}
main .price_block .content p a {
  color: #008ed6;
}
main .price_block .content button {
  font-size: 14px;
  width: 162px;
  height: 52px;
  border-color: #a2a2a2;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}
main .price_block .block-1:hover h5 {
  color: #008ed6;
}
main .price_block .block-1:hover ul li {
  background-color: #008ed6;
  padding: 45px 0 35px 0;
}
main .price_block .block-1:hover ul li .pos-0 {
  margin: 0 50px -50px 0;
}
main .price_block .block-1:hover ul li h1 {
  color: white;
}
main .price_block .block-1:hover ul li p {
  color: white;
}
main .price_block .block-1:hover ul li h6 {
  color: white;
}
main .price_block .block-1:hover button {
  background-color: #008ed6;
  color: white;
}
main .price_block .block-2:hover h5 {
  color: #008ed6;
}
main .price_block .block-2:hover ul li {
  background-color: #008ed6;
  padding: 45px 0 35px 0;
}
main .price_block .block-2:hover ul li .pos-0 {
  margin: 0 50px -50px 0;
}
main .price_block .block-2:hover ul li h1 {
  color: white;
}
main .price_block .block-2:hover ul li p {
  color: white;
}
main .price_block .block-2:hover ul li h6 {
  color: white;
}
main .price_block .block-2:hover button {
  background-color: #008ed6;
  color: white;
}
main .price_block .block-3:hover h5 {
  color: #008ed6;
}
main .price_block .block-3:hover ul li {
  background-color: #008ed6;
  padding: 45px 0 35px 0;
}
main .price_block .block-3:hover ul li .pos-0 {
  margin: 0 50px -50px 0;
}
main .price_block .block-3:hover ul li h1 {
  color: white;
}
main .price_block .block-3:hover ul li p {
  color: white;
}
main .price_block .block-3:hover ul li h6 {
  color: white;
}
main .price_block .block-3:hover button {
  background-color: #008ed6;
  color: white;
}
main .price_block .block-4:hover h5 {
  color: #008ed6;
}
main .price_block .block-4:hover ul li {
  background-color: #008ed6;
  padding: 45px 0 35px 0;
}
main .price_block .block-4:hover ul li .pos-0 {
  margin: 0 50px -50px 0;
}
main .price_block .block-4:hover ul li h1 {
  color: white;
}
main .price_block .block-4:hover ul li p {
  color: white;
}
main .price_block .block-4:hover ul li h6 {
  color: white;
}
main .price_block .block-4:hover button {
  background-color: #008ed6;
  color: white;
}
main .block-form {
  background-color: #ededed;
  height: 725px;
  width: 100%;
}
@media (max-width: 767px) {
  main .block-form {
    height: 1100px;
  }
}
main .block-form h5 {
  padding: 60px 0 0 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #008ed6;
}
main .block-form h2 {
  font-size: 36px;
  font-weight: 550;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
}
main .block-form .contact {
  max-width: 1170px;
  margin: 0 auto;
}
main .block-form .contact .content_block-1 img {
  margin: 60px 0 30px 0;
}
main .block-form .contact .content_block-1 p {
  margin: 0 0 10px 0;
}
main .block-form .contact .content_block-1 a {
  font-size: 18px;
  font-weight: 400;
  color: #999999;
}
main .block-form .contact .content_block-2 img {
  margin: 60px 0 30px 0;
}
main .block-form .contact .content_block-2 a {
  font-size: 18px;
  font-weight: 400;
  color: #999999;
}
main .block-form .contact .content_block-3 img {
  margin: 60px 0 30px 0;
}
main .block-form .contact .content_block-3 a {
  font-size: 18px;
  font-weight: 400;
  color: #999999;
}
main .contact-form {
  margin: -290px 0 -85px 0;
  position: relative; /* робимо позицію елементів відносно батьківського контейнера */
  z-index: 1; /* елементи мають більший z-index, ніж картинка */
}
main .contact-form form {
  padding: 60px 85px 40px 65px;
  max-width: 770px;
  height: 100%;
  background-color: #15141a;
  margin: 0 auto;
}
main .contact-form form input[type=text i], main .contact-form form [type=email i] {
  max-width: 300px;
  height: 50px;
  background-color: rgba(0, 142, 214, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
main .contact-form form input[type=messages] {
  max-width: 300px;
  height: 200px;
  padding: 0px 0 150px 15px;
  background-color: rgba(0, 142, 214, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
main .contact-form form button {
  max-width: 160px;
  height: 50px;
  font-size: 14px;
  margin: 0 15px 0 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  background-color: #008ed6;
  box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.1);
}
@media (max-width: 425px) {
  main .contact-form form button {
    margin: 0 120px 0 0;
  }
}
@media (max-width: 375px) {
  main .contact-form form button {
    margin: 0 75px 0 0;
    max-width: 200px;
  }
}
@media (max-width: 765px) {
  main .contact-form form {
    padding: 40px 0 40px 0;
  }
  main .contact-form form .row {
    margin: 0 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 765px) and (max-width: 425px) {
  main .contact-form form .row .form-control {
    width: 180%;
    margin: 0px 0 0 -50px;
  }
}

/*HEADER*/
/*PRODUCT*/
/*DETAILS*/
/*TESTIMONIALS*/
/*SLIDER*/
/*PRICE*/
/*BLOCK-FORM*/
/*CONTACT-FORM*/
/*FOOTER*/
footer {
  background-color: #15141a;
  height: auto;
}
footer .images-web {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 60px 15px 30px 15px;
}
footer .images-web a {
  padding: 0 15px 0 15px;
  color: #444348;
  font-size: 18px;
}
footer .images-web a:hover {
  color: #008ed6;
  text-decoration: none;
}
footer .images-web p {
  margin: 30px 0 0 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #444348;
}
/*# sourceMappingURL=style.css.map */
