@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@font-face {
  font-family: "Source Sans Pro";
}
@font-face {
  font-family: "Source Sans Pro";
}
.header {
  height: 100%;
  width: 100%;
  background-image: url("../images/bg_806.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header .bg {
  max-width: 1170px;
  margin: 0 auto;
}
.header .bg .container a {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.header .bg .container p {
  margin: -30px 0 0 75px;
  font-size: 9px;
  white-space: pre;
  color: #3a3b40;
}
.header .nav-item {
  padding: 0 0 0 40px;
}
.header .nav-item .nav-link {
  color: white;
}
.header .nav-item .nav-link .nav-link:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #008ed6;
  padding-bottom: 5px;
}
.header .animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: -5px 0 0 0;
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.header .animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header .animated-icon1 span {
  background: white;
}
.header .animated-icon1 span:nth-child(1) {
  top: 0px;
}
.header .animated-icon1 span:nth-child(2) {
  top: 10px;
}
.header .animated-icon1 span:nth-child(3) {
  top: 20px;
}
.header .animated-icon1.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}
.header .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: 0;
}
.header .animated-icon1.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}

.no-gutters {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .no-gutters {
    margin: -10px 0 0 0;
  }
}
.no-gutters .col-6 {
  margin: 60px 0 0 0px;
  padding: 0 0 0 30px;
}
.no-gutters .col-6 h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #008ed6;
  padding: 40px 0 0 0;
}
.no-gutters .col-6 h1 {
  font-size: 48px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #ffffff;
  width: 530px;
  padding: 30px 0 0 0;
}
.no-gutters .col-6 p {
  font-size: 18px;
  width: 510px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #999999;
  padding: 35px 0 0 0;
}
.no-gutters .col-6 button {
  width: 160px;
  height: 50px;
  margin: 60px 20px 0 0px;
  font-size: 14px;
  font-weight: 700;
}
.no-gutters .col-6 img {
  margin: -100px 0 0 0;
}

.product {
  background-color: white;
}
.product_content {
  max-width: 1170px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}
.product hr {
  margin: 70px 0 0 0;
}

.content_title h4 {
  padding: 65px 0 0 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #008ed6;
}
.content_title h1 {
  font-size: 36px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
}
.content_title img {
  padding: 30px 0 0 0;
}
.content_products {
  display: flex;
  margin: 70px 0 0 0;
  align-items: center;
  justify-content: center;
}
.content_block-1 {
  width: 230px;
  height: 260px;
  align-items: center;
  justify-content: center;
}
.content_block-1 img {
  margin: 0 -15px 0 -50px;
}
.content_block-1 h1 {
  padding: 30px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  color: #1a1a1a;
}
.content_block-1 p {
  padding: 0 0 70px 0;
  font-size: 17px;
  color: #999999;
}
.content_block-2 {
  width: 230px;
  height: 260px;
  margin: 0 0 0 70px;
}
.content_block-2 img {
  margin: 0 -15px 0 -50px;
}
.content_block-2 h1 {
  padding: 30px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  color: #1a1a1a;
}
.content_block-2 p {
  font-size: 17px;
  color: #999999;
}
.content_block-3 {
  width: 230px;
  height: 260px;
  margin: 0 0 0 70px;
}
.content_block-3 img {
  margin: 0 -15px 0 -50px;
}
.content_block-3 h1 {
  padding: 30px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  color: #1a1a1a;
}
.content_block-3 p {
  font-size: 17px;
  color: #999999;
}
.content_block-4 {
  width: 230px;
  height: 260px;
  margin: 0 0 0 70px;
}
.content_block-4 img {
  margin: 0 -13px 0 -43px;
}
.content_block-4 h1 {
  padding: 30px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  color: #1a1a1a;
}
.content_block-4 p {
  font-size: 17px;
  color: #999999;
}

.block {
  background: white;
  width: 100%;
  height: 100%;
}
.block_content {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.block_content img {
  margin: 65px 0 0 35px;
}

.content_text {
  width: 470px;
  height: 380px;
  margin: 120px 0 0 70px;
}
.content_text h4 {
  font-size: 14px;
  margin: 0 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #008ed6;
}
.content_text img {
  margin: 35px 0 35px 0;
}
.content_text h1 {
  padding: 25px 0 0 0;
  margin: 0 0 0 0;
  font-size: 36px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
}
.content_text p {
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #999999;
  margin: 0 0 40px 0;
}
.content_text h3 {
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  font-size: 17px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #1b1b1b;
}
.content_text h3 img {
  margin: 0 10px 0 0;
}

.blocks {
  background: #f2f2f2;
  width: 100%;
  height: 545px;
}
.blocks_cont {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.blocks_text {
  width: 470px;
  height: 250px;
  padding: 130px 0 0 0;
}
.blocks_text h4 {
  font-size: 14px;
  margin: 0 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #008ed6;
}
.blocks_text h1 {
  padding: 25px 0 0 0;
  margin: 0 0 0 0;
  font-size: 36px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
}
.blocks_text img {
  margin: 35px 0 30px 0;
}
.blocks_text p {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #999999;
  margin: 0 0 40px 0;
}
.blocks_images img {
  margin: 30px 0 0 0;
}
/*# sourceMappingURL=style.css.map */
