.map{
  width: 100%;
  height: 370px;
  position: fixed; /* фіксуємо позицію картинки */
  top: 0; /* картинка розташовується зверху */
  left: 0; /* картинка розташовується зліва */
  z-index: -1; /* картинка має найнижчий z-index */

}