@import "variables";
.product {
  background-color: $product-bg;

  &_content {
    max-width: 1170px;
    height: 100%;
    background-color: $product-bg;
    margin: 0 auto;
    text-align: center;
  }
  hr{
    width: 100%;
    margin: 70px 0 0 0 ;
  }
}

.content {
  &_title {
    h4 {
      padding: 65px 0 0 0;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: $primary-cl;
    }

    h1 {
      font-size: 36px;
      font-weight: 600;
      text-transform: none;
      letter-spacing: normal;
      color: $text-cl;
    }

    img {
      padding: 30px 0 0 0;
    }

  }
  &_products{
    display: flex;
    margin: 70px 0 0 0;
    align-items: center;
    justify-content: center;
  }
  &_block-1{

    align-items: center;
    justify-content: center;
    img{
      margin: 0 -15px 0 -50px;
    }
    h1{
      padding: 30px 0 0 0;
      font-size: 24px;
      font-weight: 400;
      color: $text-cl;

    }
    p{

      font-size: 18px;
      color: $text-cl-2;
    }
  }
  &_block-2{


    img{
      margin: 0 -15px 0 -50px;
    }
    h1{
      padding: 30px 0 0 0;
      font-size: 24px;
      font-weight: 400;
      color: $text-cl;

    }
    p{
      font-size: 18px;
      color: $text-cl-2;
    }
  }
  &_block-3{

    img{
      margin: 0 -15px 0 -50px;
    }
    h1{
      padding: 30px 0 0 0;
      font-size: 24px;
      font-weight: 400;
      color: $text-cl;

    }
    p{
      font-size: 18px;
      color: $text-cl-2;
    }
  }
  &_block-4{

    img{
      margin: 0 -13px 0 -45px;
    }
    h1{
      padding: 30px 0 0 0;
      font-size: 24px;
      font-weight: 400;
      color: $text-cl;

    }
    p{
      font-size: 18px;
      color: $text-cl-2;
    }
  }

}

